*.iml
.gradle
.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
easeui/build/intermediates/incremental/compileDebugAidl/dependency.store
easeui/
redpacketlibrary/build/
simpledemo/build/
